*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

main{
    height: 100vh;
    background-color: #e7f5ff;
    padding: 40px;
}

section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
}



