.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    /* background-color: #96f2d7; */
    
}


.itemInputBox{
    display: flex;
    max-height: 3.125rem;
    justify-content: center;
    justify-items: center;
    position: relative;
    
}

.itemInputBox input{
    width: 100%;
    padding: 1.875rem;
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    
}

.itemInputBox input::placeholder{
    color:#dee2e6;
}

.itemInputBox button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 1.25rem;
    border-radius: 10px;
    background-color: #0ca678;
    color: #c3fae8;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-2%);
    transition: all 0.4s;
}

.itemInputBox button:hover{
    background-color: #20c997;
    transform: scale(110%);
}



.itemAmountBox{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    justify-content: center;
    max-height: 3.125rem;
}

.itemIcons{
    width: 3rem;
    height: 3rem;
    color: #e7f5ff;
    background-color: #228be6;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
}

.itemIcons:hover{
    background-color: #339af0;
}

.itemAmount{
    font-size: 2rem;
    align-self: center;
    color:#495057;
}