

.list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    border: 1px solid #63e6be;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemName{
    font-size: 1.2rem;
    font-weight: 500;
}

.done{
    background-color: #e6fcf5;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.done{
  text-decoration: line-through;
}

.icons{
    display: flex;
    gap: 10px;
}

.icons button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: #e7f5ff;
    border: none;
    cursor: pointer;
}

.icons button:hover{
     outline: 1px solid #63e6be;
}