

ul{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    border: 1px solid #63e6be;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}

ul span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul span div{
    display: flex;
    align-items: center;
    gap: 10px;
}